<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Enable responsive viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{{ page.title }}</title>
		
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

		<!-- Le styles -->
		<link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" title="default">
		<link href="{{ ASSET_PATH }}/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" title="default">
		
		<link href="{{ ASSET_PATH }}/css/cerulean-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="cerulean">
		<link href="{{ ASSET_PATH }}/css/cosmo-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="cosmo">
		<link href="{{ ASSET_PATH }}/css/flatly-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="flatly">
		<link href="{{ ASSET_PATH }}/css/journal-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="journal">
		<link href="{{ ASSET_PATH }}/css/readable-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="readable">
		<link href="{{ ASSET_PATH }}/css/simplex-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="simplex">
		<link href="{{ ASSET_PATH }}/css/spacelab-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="spacelab">
		<link href="{{ ASSET_PATH }}/css/superblue-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="superblue">
		<link href="{{ ASSET_PATH }}/css/yeti-bootstrap.min.css" rel="alternate stylesheet" type="text/css" title="yeti">
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->

		<!-- atom & rss feed -->
		<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
		<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

	</head>

	<body>
	  	<nav class="navbar navbar-default" role="navigation">
	  		<div class="container">
			  	<!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
	    		</div>
	    		<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					     {% assign pages_list = site.pages %}
					     {% assign group = 'navigation' %}
					     {% include misc/navigation_list %}
					</ul>
				</div>
	  		</div>
  		</nav>

	    <div class="container">
			<div class="content">
			  {{ content }}
			</div>
			<hr>
			<footer class="text-center">
				<p class="text-muted"><i>A <a href="http://flower-platform.org">Flower Platform</a> initiative</i></p>
				<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
				  with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
				  and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
				</p>
			</footer>
	    </div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
	    {% include JB/analytics %}
	</body>
</html>
