<div class="row">
	<div class="col-sm-9">
		<div class="page-header">
			<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
		</div>

		{{ content }}

		{% for post in paginator.posts %}
			<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
			<p class="author text-muted"> Posted on <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
			{% if post.updated_on %} <span class="updated">(Updated on {{ post.updated_on | date: "%B %e, %Y" }})</span> {% endif %}
			</p>
			
			<p class="tag_labels">
				{% assign tags_list = post.tags %}
				{% include misc/tags_labels %}
			</p>
			
			<div>
			{{ post.excerpt }}
			</div>

			<div> 
				<a href="{{ post.url }}" class="btn btn-primary">Read more &amp; discuss &hellip;</a>
			</div>	
		
			<div class="breadcrumb index-share">
				{% capture share_url %}{{site.production_url}}{{post.url}}{% endcapture %}
				{% assign share_title = post.title %}
				{% include custom/sharing %}
			</div>
			
			<hr {% if forloop.last == false %}class="soften post"{% endif %}/>
		{% endfor %}

		{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<ul class="pagination">
			{% if paginator.previous_page %}
			<li><a href="{{ BASE_PATH }}{{ paginator.previous_page_path }}" title="Previous page">&laquo;</a></li>	
			{% else %}
			<li class="disabled"><a title="Previous page">&laquo;</a></li>
			{% endif %}
			{% for page in (1..paginator.total_pages) %}
			<li class="{% if page == paginator.page %} active {% endif %}">
				{% if page == 1 %}
			   	<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			  	{% else %}
			    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			  	{% endif %}
			</li>
			{% endfor %}
			{% if paginator.next_page %}
			<li><a href="{{ BASE_PATH }}{{ paginator.next_page_path }}" title="Next page">&raquo;</a></li>
			{% else %}
			<li class="disabled"><a title="Next page">&raquo;</a></li>
			{% endif %}
		</ul>
		{% endif %}
  </div>
  <div class="col-sm-3">
  {% include misc/sidebar %}
  </div>
</div>
