/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; 
}

.post-full .updated {
	font-weight: normal;
}

.index-share {
	margin-top: 10px;
}
 
.tag_cloud_box {
	margin-left: 0px;
	padding-left: 0px;
}

.tag_cloud_box li{
	display: inline;
}

.page-header {
	margin-top: 0px;
}

.page-header h1 {
	margin-top: 0px;
}